@import "./variables.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  background-color: var(--light-yellow);
  color: var(--black);
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-weight: var(--font-medium);
  font-size: var(--font-lg);
}

a {
  text-decoration: none;
  color: var(--black);
}

@media (min-width: 700px) {
  h1 {
    font-size: var(--font-xl);
  }
}
