@import "./variables.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  background-color: var(--light-yellow);
  color: var(--black);
  margin: 0 auto;
  max-width: 1500px;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-weight: var(--font-medium);
  font-size: var(--font-lg);
}

/* Buttons and Links */

a {
  text-decoration: none;
  color: var(--black);
}

button {
  cursor: pointer;
  font-family: var(--body-font);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Forms */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Links, Buttons, Inputs focus */
button:focus,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--turquoise);
}

/* Images */
.icon {
  width: 16px;
}

@media (min-width: 700px) {
  h1 {
    font-size: var(--font-xl);
  }
}
